
body {
    background-color: rgb(10, 4, 32);
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: rgb(182, 175, 175);
}

#main_section {
    height: 550px;
    width: 1200px;
    background-color:rgb(27, 20, 54);
    margin: auto;
    margin-top: 10%;
    border-radius: 1.5%;
}

#div_img {
    height: 544px;
    width: 580px;
    background-image:url("https://i.ibb.co/9VY17MH/image-header-desktop.jpg");
    background-size: cover;
    position: relative;
    bottom:18%;
    right:4px;
    float: right;
    border-radius: 1.5%;

}

#overlay {
    height: 544px;
    width: 580px;
    background-color: rgb(127, 23, 175);
    opacity: 50%;
    float: right;
    border-radius: 1.5%;
}

#insights {
    color: rgb(132, 25, 182);
}

#intro_p {
    font-size: 16px;
    line-height: 1.8;
    padding-top: 40px;
    padding-right: 700px;
    margin: 70px 25px 25px 60px;
    text-align: left;
}

#div1 {
    position: relative;
    width: 500px;
    height: 100px;
    margin-left: 5%;
    margin-top: 10%;
}

h1#main_header {
    position: relative;
    font-size: 40px;
    box-sizing: content-box;
    width: 500px;
    height: 100px;
    padding-top: 15%;
    color: whitesmoke;
}

.box {
    display: inline-block;
    padding: 3px;
    margin-left: 70px;
    margin-top: 70px;
    line-height: 0.7;
}

h2 {
    color: whitesmoke;
}

.type {
    letter-spacing: 1.3px;
    font-size: 14px;
}

.attribution {
    padding-top: 230px;
}

